@media screen and (max-width: 600px){
 body{
  background: #f4f4f4;
 }
  .continar {
padding: 15px;
margin:20px ;
  }
  h1 {
    font-size: 1.4rem;
  }
  button, input {
    font-size:0.9rem;
    padding: 10px;
}
}