@media screen and (max-width: 600px){

  .continar {
width: 95%;
max-width: 500px;
    padding: 15px;
   margin:20px auto;
  }
  h1 {
    font-size: 1.6rem;

  }
  button, input {
    font-size: 1rem;
}
}