@media screen and (max-width: 600px){

  .continar {
   max-width: 100%;
    padding: 15px;
   margin:120px 100px;
  }
  h1 {
    font-size: 30px;
  }
  button, input {
    font-size: 2rem;
}
}