*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.continar{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 540px;
    margin-left:37%;
    margin-top:200px;
    border-radius:10px;
    box-shadow: 0px 0px 10px #686868;
}

.todo{
    margin:15px;
    background:linear-gradient(to bottom right,#7263ff,#604ed1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#input{
    width: 350px;
    height: 40px;
    padding: 8px;
    border-radius:5px;
    font-size:18px;
    border:2px #868686 solid;
}
#input:focus{
border:transparent;
}
.add{
    padding:5px;
    border-radius: 3px;
     width: 70px;
     height: 40px;
    background:linear-gradient(to bottom right,#7263ff,#604ed1);
    border:transparent;
    color:#fff;
     font-size: 18px;
     cursor:pointer;
}
.add:active{
    animation:action 0.4s;
}

.lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   border-bottom:2px #96949486 solid;
    width: 400px;
    position: relative;
    left:40px;
    margin-top:75px;
}
h3{
    position: absolute;
    left: 0px;
    bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}
.update{
position: absolute;
right: 4px;
bottom: 8px;
padding: 6px;
color:rgb(255, 166, 0);
background: transparent;
border:2px rgb(255, 166, 0) solid;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: 0.2s 0s ease-in-out;
}
.update:hover{
    color:#fff;
    background:rgb(255, 166, 0);
}
.update:active{
    animation: action 0.3s;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 80px;
    bottom: 7px;
    font-size: 25px;
    color:#fff;
    background:linear-gradient(to bottom right,#7263ff,#604ed1);
    width: 40px;
    height: 40px;
   border-radius: 3px;
   cursor: pointer;
}
.delete:active{
    animation: action 0.3s;
}
@keyframes action {
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}